body{
    font-family: ProximaNovaA-Regular;
    background-color: #FFFFFF;
    font-size: 13px;
    color: #3d464d;
}

.footer{
    border-top: 1px solid #e5e5e5;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 60px;
}

h2 {
    color: #3D464D;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: ProximaNovaA-bold;
    font-weight: 100;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

div#myNavbar {
    padding-bottom: 45px;
}

ul.nav.navbar-nav {
    padding-top: 20px;
    font-size: 16px;
    font-family: monospace;
}

a.navbar-brand {
	padding-top: 33px;
	font-size: 16px;
	font-family: monospace;
}
